<a href="https://colab.research.google.com/github/H0E0M0A0N0T0/Ai-ml-lab-sheets-/blob/main/LabSheet_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
df=pd.read_csv("empdata.csv")

In [ ]:
df.head()

   Empid           Ename    Salary         DOJ
0   1001          Ganesh   1000.00  10-10-2000
1   1002            Anil  23000.50   3/20/2002
2   1003          Gaurav       NaN  03-03-2002
3   1004    Hema Chandra  16500.50  09-10-2000
4   1005  Laxmi Prasanna  12000.75  10-08-2000

In [ ]:
df.tail(2)

   Empid           Ename    Salary         DOJ
4   1005  Laxmi Prasanna  12000.75  10-08-2000
5   1006          Anant    9999.99  09-09-1999

In [ ]:
df.Ename

0            Ganesh
1              Anil
2            Gaurav
3      Hema Chandra
4    Laxmi Prasanna
5            Anant
Name: Ename, dtype: object

In [ ]:
df['Salary']

0     1000.00
1    23000.50
2         NaN
3    16500.50
4    12000.75
5     9999.99
Name: Salary, dtype: float64

In [ ]:
df.columns

Index(['Empid', 'Ename', 'Salary', 'DOJ'], dtype='object')

In [ ]:
df.Empid

0    1001
1    1002
2    1003
3    1004
4    1005
5    1006
Name: Empid, dtype: int64

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Empid   6 non-null      int64
 1   Ename   6 non-null      object
 2   Salary  5 non-null      float64
 3   DOJ     6 non-null      object
dtypes: float64(1), int64(1), object(2)
memory usage: 320.0+ bytes

In [ ]:
df.describe(include='all')

              Empid   Ename        Salary         DOJ
count      6.000000       6      5.000000           6
unique          NaN       6           NaN           6
top             NaN  Ganesh           NaN  10-10-2000
freq            NaN       1           NaN           1
mean    1003.500000     NaN  12500.348000         NaN
std        1.870829     NaN   8139.622234         NaN
min     1001.000000     NaN   1000.000000         NaN
25%     1002.250000     NaN   9999.990000         NaN
50%     1003.500000     NaN  12000.750000         NaN
75%     1004.750000     NaN  16500.500000         NaN
max     1006.000000     NaN  23000.500000         NaN

In [ ]:
df.isna().sum()

Empid     0
Ename     0
Salary    1
DOJ       0
dtype: int64

In [ ]:
df.dropna(axis=1,inplace=True)

In [ ]:
print(df)

   Empid           Ename         DOJ
0   1001          Ganesh  10-10-2000
1   1002            Anil   3/20/2002
2   1003          Gaurav  03-03-2002
3   1004    Hema Chandra  09-10-2000
4   1005  Laxmi Prasanna  10-08-2000
5   1006          Anant   09-09-1999